h2 {
  text-transform: capitalize;
  font-family: "Indie Flower", cursive;
  text-align: center;
  color: #0805d1;
}

table {
  margin: auto;
}

td {
  height: 250px;
  width: 100px;
  border: 4px solid white;
}

#color-1 {
  background-color: #5bc0eb;
}

#color-2 {
  background-color: #fde74c;
}

#color-3 {
  background-color: #9bc53d;
}

#color-4 {
  background-color: #e55934;
}

#color-5 {
  background-color: #fa7921;
}
