<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Users Page | appTwo</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Sign Up</h1>
    </div>

    <div class="container">
      <form method="POST">
        {{ form.as_p }}
        {%csrf_token%}
        <input type="submit" value="Submit" class="btn btn-info" />
      </form>
    </div>
    <!-- Example to show information with template tags:
    <h1>USERS PAGE</h1>

    {% if users %}
    <ol>
      {% for person in users %}
      <li>User Information</li>
      <ul>
        <li>First Name: {{ person.first_name }}</li>
        <li>Last Name: {{ person.last_name }}</li>
        <li>Email: {{ person.email }}</li>
      </ul>
      {% endfor %}
    </ol>
    {% endif %} -->
  </body>
</html>
